<h1>
    Welcome to login page
</h1>
<form method="post" action="login/check">
    id : <input type="number" name="id" ><br>
    username :<input type="text" name="name"><br>
    <button type="submit">submit</button>
</form>
